// NBN Colors
$nbn-purple: rgb(80, 31, 132);
$nbn-red: rgb(236, 56, 14);

// Shades of Gray
$black: rgb(0, 0, 0);
$nbn-black: rgb(17, 17, 17);
$bodytext-black: rgb(40, 40, 40);
$text-gray: rgb(145, 145, 145);
$line-gray: rgb(187, 187, 187);
$border-gray: rgb(204, 204, 204);
$href-offwhite: rgb(221, 221, 221);
$footer-offwhite: rgb(238, 238, 238);
$background-gray: rgb(245, 245, 245);
$white: rgb(255, 255, 255);

// Color Extentions
$masthead-purple: $nbn-purple;
$href-purple: $nbn-purple;

//Color extensions
// $button-hover-teal: $teal;
// $button-selected-teal: transparentize($teal, .5);
// $hr-gray: $line-gray;
// $explainer-gray: $background-gray;
// $share-button-black: $tribune-black;
