@mixin sans-serif { font-family: "Proxima-Nova", Helvetica, sans-serif; }
@mixin serif { font-family: "ff-meta-serif-web-pro", Georgia, serif; }

@mixin highlight {
  background-color: $nbn-red;
  box-shadow: -0.4em 0 0 $nbn-red, 0.4em 0 0 $nbn-red;
  color: $white;
  line-height: 1.1;
  padding: .25em 0;
}
