@mixin sans-serif { font-family: $sans-serif; }
@mixin serif { font-family: $serif; }

@mixin highlight($color: $nbn-red) {
  background-color: $color;
  box-shadow: -.4em 0 0 $nbn-red, .4em 0 0 $nbn-red;
  color: $white;
  line-height: 1.5;
  padding: .25em 0;
}
