
// Grid Stuff

%container {
  @include outer-container;
  @include pad(0 1.25em);
}

%row {
  @include row();
  clear: both;
  float: none;
}

%content-block {
  @include pad(0 1.25em);
}


// Prose Styles

%prose {
  color: $bodytext-black;
  display: block;
  font-family: $sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

%caption {
  @include sans-serif;
  color: $line-gray;
  font-size: .8em;
  font-weight: 300;
  text-align: right;

}

%paragraph-header {
  font-family: $sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 1em 0;
  text-transform: uppercase;
}
