$img-grid-small: new-breakpoint(max-width em(625px));

figure {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;

  figcaption {
    @extend %caption;
    .left & { text-align: left; }
  }

  img {
    @include fill-parent;
    margin: 0 !important;
  }
}


.full-bleed {
  @extend %row;
  margin: 2em 0;

  figure {
    margin-top: 0;
    margin-bottom: 0;
    clear: both;
    width: 100%;
    height: auto;

    img {
      width: 100%;
    }
  }
}


.img-grid {
  @include span-columns(12 of 12);

  margin-bottom: 2em;
  margin-top: 2em;

  figure {
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    margin-top: .5em;

    @include span-columns(6);
    @include omega(2n);

    @mixin single-col-grid {
      @include span-columns(12);
      @include omega(1n);
    }

    @include media($img-grid-small) {
      @include single-col-grid;
    }

    img {
      @include fill-parent;
    }

    &:nth-of-type(2n-1) figcaption { text-align: left !important; }
  }
}
