.masthead {
  background-color: $masthead-purple;
  padding: .5em 0 .375em;
  text-align: center;
  width: 100%;

  @include media($large) {
    text-align: left;
    padding-left: .5em;
  }

  .nbn-logo {
    height: 2em;

    img {
      height: 100%;
    }
  }
}

